
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}


main {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 700px;
    text-align: center;
}


nav {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

header, footer {
    text-align: center;
    margin-top: 10px;
    color: #777;
}
